<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277621448904-1tgc2uard3lnot3qkkrmjfovcsthb0bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277621448904-1tgc2uard3lnot3qkkrmjfovcsthb0bf</string>
	<key>API_KEY</key>
	<string>AIzaSyBAvtNGkMyMFgu7CWYG6pEk9UIx-xN_DG4</string>
	<key>GCM_SENDER_ID</key>
	<string>277621448904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftdiary.CyberCab</string>
	<key>PROJECT_ID</key>
	<string>cybercab-a773b</string>
	<key>STORAGE_BUCKET</key>
	<string>cybercab-a773b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277621448904:ios:b24029891312870ba645fd</string>
</dict>
</plist>