<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.277621448904-1tgc2uard3lnot3qkkrmjfovcsthb0bf</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>277621448904-1tgc2uard3lnot3qkkrmjfovcsthb0bf.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothicA1-Black.ttf</string>
		<string>GothicA1-Bold.ttf</string>
		<string>GothicA1-ExtraBold.ttf</string>
		<string>GothicA1-ExtraLight.ttf</string>
		<string>GothicA1-Light.ttf</string>
		<string>GothicA1-Medium.ttf</string>
		<string>GothicA1-Regular.ttf</string>
		<string>GothicA1-SemiBold.ttf</string>
		<string>GothicA1-Thin.ttf</string>
	</array>
</dict>
</plist>
